@import url('https://fonts.cdnfonts.com/css/mona-sans');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

body{
  font-family: 'Mona Sans', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.swiper{
  width: 100% !important;
}

*{
  scrollbar-width: thin; /* For Firefox */
-ms-overflow-style: none; /* For Internet Explorer and Edge */
scrollbar-color: #333 #666; /* For Firefox */
-ms-scrollbar-3dlight-color: #333; /* For Internet Explorer and Edge */
-ms-scrollbar-darkshadow-color: #666; /* For Internet Explorer and Edge */
-ms-scrollbar-face-color: #333; /* For Internet Explorer and Edge */
-ms-scrollbar-highlight-color: #666; /* For Internet Explorer and Edge */
  -ms-scrollbar-shadow-color: #333; /* For Internet Explorer and Edge */
  -ms-scrollbar-track-color: #666; /* For Internet Explorer and Edge */
}